*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 10px;
}

nav .menu{
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}

.menu-item{
  align-items: center;
}

nav .menu a{
  text-decoration: none;
  color: black;
  font-size: 19px;
}
.btn{
  background-color: #30B868;
  padding: 15px 17px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover{
  background-color: darkgreen;
}

#banner{
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  min-height: 1000vh;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 120px 132px;
}

#banner .banner-content{
  max-width: 850px;
}

#banner .banner-content h6{
  background-color: white;
  color: #30B868;
  display: inline;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 20px;
}

.text-color{
  color: #30B868;
}

.banner-content h1{
  color: white;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 18px;
}

.banner-content p{
  color: white;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
.a-btn{
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 15px 17px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.a-btn:hover{
  color: goldenrod;
}