*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 10px;
}

nav .menu{
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}

.menu-item{
  align-items: center;
}

nav .menu a{
  text-decoration: none;
  color: black;
  font-size: 19px;
}
.btn{
  background-color: #30B868;
  padding: 15px 17px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover{
  background-color: darkgreen;
}

#banner{
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 120px 132px;
}

#banner .banner-content{
  max-width: 850px;
}

#banner .banner-content h6{
  background-color: white;
  color: #30B868;
  display: inline;
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 20px;
}

.text-color{
  color: #30B868;
}

.banner-content h1{
  color: white;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 18px;
}

.banner-content p{
  color: white;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}
.a-btn{
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 15px 17px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.a-btn:hover{
  color: goldenrod;
}

#notes .section-heading{
  text-align: center;
  padding: 38px;
}

#notes .section-heading h1{
  font-size: 46px;
  margin-bottom: 14px;
}

#notes .section-heading p{
  color: #627382;
  line-height: 20px;
}

#notes .notes-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}

#notes .notes-container .notes-box{
  display: flex;
  gap: 30px;
}

.notes-box .notes-card{
  padding: 25px;
  max-width: 330px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.212);
  text-align: center;
  border-radius: 10px;
}

.notes-card img{
  background-color: red;
  border-radius: 50%;
  padding: 12px 13px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.notes-card h3{
  font-size: 20px;
  margin-bottom: 20px;
}

.notes-card p{
  color: #627382;
  line-height: 20px;
  margin-bottom: 18px;
}

#second-brain{
  max-width: 1360px;
  margin: 125px;
  display: flex;
  align-items: center;
  gap: 90px;
}

#second-brain .second-brain-container{
  max-width: 600px;
}

.second-brain-container h6{
  color: #30B868;
  line-height: 20px;
  font-size: 17px;
  margin-bottom: 18px;
}

.second-brain-container h2{
  font-size: 48px;
  margin-bottom: 18px;
}

.second-brain-container p{
  color: #627382;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 20px;
}

.second-brain-container ul{
  list-style: none;
}

.second-brain-container li{
  color: #001931;
  line-height: 40px;
}