*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 10px;
}

nav .menu{
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}

.menu-item{
  align-items: center;
}

nav .menu a{
  text-decoration: none;
  color: black;
  font-size: 19px;
}
.btn{
  background-color: #30B868;
  padding: 15px 17px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover{
  background-color: darkgreen;
}